<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	
	<!-- 扫描开启 -->
	<context:component-scan base-package="com"></context:component-scan>
	<mvc:annotation-driven/>
	
	<!-- 过滤样式 -->
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/fonts/" mapping="/fonts/**"/>
	<mvc:resources location="/images/" mapping="/images/**/"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/scss/" mapping="/scss/**"/>
	<mvc:resources location="/PSD/" mapping="/PSD/**"/>
	<mvc:resources location="/vendors/" mapping="/vendors/**"/>
	
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    		<property name="prefix" value="/WEB-INF/jsp/"/>
    		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
    		<property name="url" value="jdbc:mysql://localhost:3306/test" />
   		<property name="username" value="root" />
    		<property name="password" value="root" />
	</bean> 
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource"></property> 
		<property name="mapperLocations" value="classpath*:com/mapper/*.xml"></property> 
	</bean>
	
	<!-- DAO接口所在包名，Spring会自动查找之中的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> 
	<property name="basePackage" value="com.dao" /> 
	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property> 
	</bean>
	
	

</beans>